#Object files and executables
obj/*.o
bin/*
imagenes/*

## Core latex/pdflatex auxiliary files:
Cuestionarios/*.aux
Cuestionarios/*.fdb_latexmk
Cuestionarios/*.fls
Cuestionarios/*.log
Cuestionarios/*.out
Cuestionarios/*.synctex.gz
